<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.capstone.arahku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_arahku"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_arahku_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Arahku"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.home.kating.DetailKatingActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.kating.KatingActivity"/>
        <activity
            android:name=".ui.home.kating.KatingActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.home.university.DetailUniversityActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.university.UniversityActivity" />
        <activity
            android:name=".ui.home.university.UniversityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.friend.ClosestFriendActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.major.DetailMajorActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.major.MajorActivity" />
        <activity
            android:name=".ui.home.test.TestResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.test.TestQuestionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.test.DetailTestActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.test.TestActivity" />
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LandingPageActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.test.TestActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.home.major.MajorActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>